@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}



.max_padd_container {
    @apply mx-auto px-3 max-w-[1720px] lg:px-12;
}
.active-link{
    @apply text-green-100 relative flex-1 after:w-full after:h-[1px] after:text-green-100 after:absolute after:-bottom-3 after:right-0;
}

.font_title {
    font-family: 'Protest Guerrilla';
}

.gradient-background {
    background-color: #303b33;
}